.cartas {
    background-color: rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}

.card {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    width: 300px !important;
    box-shadow: 0px 0px 15px 1px rgba(92, 171, 255, 0.99);
    color: #F5B80B;

}
.card-image {
    width: 400px;
    height: 350px;
    object-fit: cover;
  }

.carrusel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scrollbar-width: thin;
    height: fit-content;
}

.container {
    margin-top:20px;
    margin-bottom: 50px;
    padding-bottom: 90px;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%
}
.card-footer{
    display: flex;
    justify-content: space-between;
}

button {
     margin-top: 0 !important; 
}
.btn-outline-warning {
    color: #F5B80B;
    border-color: #F5B80B;
}