#navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
    height: 90px;
  }

  
.logo {
    max-width: 100px;
  margin-left: 20px;
    height: auto;
    display: block;
  }
  

body {
    background-image: url("https://images.unsplash.com/photo-1514483127413-f72f273478c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Orbitron', sans-serif;
}

p {
    flex-direction: column;
    margin: auto;
    color:#F5B80B;

}

p>img {
    width: 200px;
    margin: auto;
}

p>a {
    margin-left: 5px;
}

#footer {
   
    background-color: rgba(0, 0, 0, 0.95);
    color:#F5B80B;

}
h3{
    color:#F5B80B;
}

.dropdown-menu.show{
    background-color: black;
}

.dropdown-menu li {
    background-color: black;
    color: #F5B80B;
    width: 300px;
    margin-left: 5px;
    position: relative;
    padding-right: 10px;
    
}

.dropdown-menu li i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
    float: right;
    
}
